
<!-- 

Gray
#7c7c84

Red
#c62a59

Black
#070413

White
#dcebec

 -->




<style>
/* AwesomeFont Icons */
.inline-svg {
  display: inline-block;
  height: 4.0rem;
  width: 4.0rem;
  top: 0.1rem;
  position: relative;
}

.post-holder {
  color: #dcebec;
  background: #070413;
  text-align: center
}
.post-holder.odd {
  color: #dcebec;
  background: #c62a59;
}

/* Links */
a:hover {
  color: #dcebec;
}

 /* Header Buttons on Startpage */
a.btn {
  color: #070413;
  background-color: #c62a59;
}
 a.btn:hover {
  color: #dcebec;
  background-color: #c62a59;
}

 /* Scroll Menu on Startpage */
a.fn-item.active {
  color: #dcebec;
}
a.fn-item:hover {
  color: #dcebec;
}

body {
  color: #7c7c84;
}

/* Footer */
.site-footer {
  color: #7c7c84;
  background-color: #070413;
}

.blog-title {
  color: #dcebec;
}

.blog-description {
  color: #dcebec;
}

#site-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
</style>
